<section class="advantages-section">
    <div class="container">
        <h4 class="advantages">Переваги</h4>
        <h2 class="section-title adv-title">Чому обрати нас?</h2>
        <p class="advantages-text">
            Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують стійкість і довговічність. Обираючи EcoTote, ви
            підтримуєте екологічну відповідальність.
        </p>

        <ul class="adv-card-list">
            <li class="adv-card">
                <img src="" alt="">
                <h3 class="advantage-property">Стійкість та екологічність</h3>
                <p class="advantages-text">
                    Виготовлені з органічної бавовни та переробленого пластику.
                </p>
            </li>
            <li class="adv-card">
                <img src="" alt="">
                <h3 class="advantage-property">Міцність і довговічність</h3>
                <p class="advantages-text">
                    Наші сумки мають посилені шви для тривалого використання.
                </p>
            </li>
            <li class="adv-card">
                <img src="" alt="">
                <h3 class="advantage-property">Стильний та сучасний дизайн</h3>
                <p class="advantages-text">
                    Мінімалістичні моделі в обмежених серіях для кожного стилю.
                </p>
            </li>
        </ul>
    </div>
</section>