<section class="advantages-section" id="advantages">
    <div class="container">
        <h4 class="advantages">Переваги</h4>
        <h2 class="section-title adv-title">Чому обрати нас?</h2>
        <p class="advantages-text">
            Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують стійкість і <br />довговічність. Обираючи EcoTote, ви
            підтримуєте екологічну відповідальність.
        </p>

        <ul class="adv-card-list">
            <div class="adv-card-couple">
                <li class="adv-card">
                    <img class="adv-img" src="/img/advantages/organic@1x.jpg" srcset="/img/advantages/organic@1x.jpg 1x, /img/advantages/organic@2x.jpg 2x" alt="Materials and leaf" width="288" height="198">
                    <h3 class="advantage-property">Стійкість та екологічність</h3>
                    <p class="advantages-text">
                        Виготовлені з органічної бавовни та переробленого пластику.
                    </p>
                </li>
                <li class="adv-card">
                    <img class="adv-img" src="/img/advantages/closebag@1x.jpg" srcset="/img/advantages/closebag@1x.jpg 1x, /img/advantages/closebag@2x.jpg 2x" alt="Bag creation" width="288" height="198">
                    <h3 class="advantage-property sec">Міцність і довговічність</h3>
                    <p class="advantages-text">
                        Наші сумки мають посилені шви для тривалого використання.
                    </p>
                </li>
            </div>
            <li class="adv-card">
                <img class="adv-img" src="/img/advantages/threebags@1x.png" srcset="/img/advantages/threebags@1x.png 1x, /img/advantages/threebags@2x.png 2x" alt="Three bags" width="288" height="198">
                <h3 class="advantage-property">Стильний та сучасний дизайн</h3>
                <p class="advantages-text">
                    Мінімалістичні моделі в обмежених серіях для кожного стилю.
                </p>
            </li>
        </ul>
    </div>
</section>