<section>
  <div class="container feedback">
    <h3 class="feedbacks-title">Що говорять наші клієнти</h3>
    <ul class="feedbacks-list">
      <li class="feedbacks-list-item">
        <ul class="stars-list">
          <li class="stars-list-item">
            <svg class="stars-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-starfill"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg class="stars-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-starfill"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg class="stars-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-starfill"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg class="stars-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-starfill"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg class="stars-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-starfill"></use>
            </svg>
          </li>
        </ul>
        <p class="feedbacks-comments">
          Сумка дуже зручна та стильна, використовую щодня!
        </p>
        <p class="feedbacks-name">Анна</p>
      </li>
      <li class="feedbacks-list-item">
        <ul class="stars-list">
          <li class="stars-list-item">
            <svg class="stars-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-starfill"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg class="stars-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-starfill"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg class="stars-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-starfill"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg class="stars-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-starfill"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg class="stars-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-starfill"></use>
            </svg>
          </li>
        </ul>
        <p class="feedbacks-comments">
          Відмінна якість матеріалів, приємно здивована.
        </p>
        <p class="feedbacks-name">Ігор</p>
      </li>
      <li class="feedbacks-list-item">
        <ul class="stars-list">
          <li class="stars-list-item">
            <svg class="stars-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-starfill"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg class="stars-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-starfill"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg class="stars-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-starfill"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg class="stars-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-starfill"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg class="stars-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-starfill"></use>
            </svg>
          </li>
        </ul>
        <p class="feedbacks-comments">
          Сумка повністю відповідає опису, рекомендую!
        </p>
        <p class="feedbacks-name">Олена</p>
      </li>
      <li class="feedbacks-list-item">
        <ul class="stars-list">
          <li class="stars-list-item">
            <svg class="stars-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-starfill"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg class="stars-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-starfill"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg class="stars-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-starfill"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg class="stars-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-starfill"></use>
            </svg>
          </li>
          <li class="stars-list-item">
            <svg class="stars-svg" width="24" height="24">
              <use href="/img/icons.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="feedbacks-comments">
          Швидка доставка та гарне обслуговування.
        </p>
        <p class="feedbacks-name">Сергій</p>
      </li>
    </ul>
  </div>
</section>
