
<footer>
    <div class="container footer-con">
    <svg class="footer-logo" width="281" height="121">
        <use href="/img/svg-icon/symbol-defs.svg#icon-ecotote"></use>
    </svg>
    <svg class="footer-logo-tablet" width="164" height="70">
        <use href="/img/svg-icon/symbol-defs.svg#icon-ecotote"></use>
    </svg>
    <ul class="tit-list">
        <li><a href="" class="tel-list">Про нас</a></li>
        <li><a href="" class="tel-list">Переваги</a></li>
        <li><a href="" class="tel-list">Асортимент</a></li>
        <li><a href="" class="tel-list">Галерея</a></li>
        <li><a href="" class="tel-list">Відгуки</a></li>
        <li><a href="" class="tel-list">Контакти</a></li>
    </ul>
    <ul class="foot-icons">
    <li>
        <svg class="footer-logo-item" width="32" height="32">
            <use href="/img/svg-icon/symbol-defs.svg#icon-Instagram"></use>
        </svg>
    </li>
    <li>
        <svg class="footer-logo-item" width="32" height="32">
            <use href="/img/svg-icon/symbol-defs.svg#icon-LinkedIn"></use>
        </svg>
    </li>
    <li>
        <svg class="footer-icon-item" width="32" height="32">
            <use href="/img/svg-icon/symbol-defs.svg#icon-Youtube"></use>
        </svg>
    </li>
    </ul>



    <ul class="foot-icons-desktop">
    <li>
        <svg class="footer-logo-item" width="24" height="24">
            <use href="/img/svg-icon/symbol-defs.svg#icon-Instagram"></use>
        </svg>
    </li>
    <li>
        <svg class="footer-logo-item" width="24" height="24">
            <use href="/img/svg-icon/symbol-defs.svg#icon-LinkedIn"></use>
        </svg>
    </li>
    <li>
        <svg class="footer-icon-item" width="24" height="24">
            <use href="/img/svg-icon/symbol-defs.svg#icon-Youtube"></use>
        </svg>
    </li>
    </ul>

    <ul class="foot-icons-tablet">
    <li>
        <svg class="footer-logo-item" width="40" height="40">
            <use href="/img/svg-icon/symbol-defs.svg#icon-Instagram"></use>
        </svg>
    </li>
    <li>
        <svg class="footer-logo-item" width="40" height="40">
            <use href="/img/svg-icon/symbol-defs.svg#icon-LinkedIn"></use>
        </svg>
    </li>
    <li>
        <svg class="footer-icon-item" width="40" height="40">
            <use href="/img/svg-icon/symbol-defs.svg#icon-Youtube"></use>
        </svg>
    </li>
    </ul>

    <div class="contacts">
        <address>
            <ul class="info-ul">
                <li><a href="" class="info">+38 (099) 909 11 22</a></li>
                <li><a href="" class="info">hello@ecotote.com</a></li>
            </ul>
        </address>
        <p class="prava">© 2025 EcoTote. Всі права захищені.</p>


    </div>
    </div>
</footer>