
<footer class="footer">
  <div class="container footer-con">
    <a href="/index.html" class="footer-logo-link">
      <img src="/img/logo.svg" alt="footer logo" class="footer-logo" />
    </a>

    <ul class="tit-list">
      <li><a href="#about" class="tel-list">Про нас</a></li>
      <li><a href="#advantages" class="tel-list">Переваги</a></li>
      <li><a href="#assortment" class="tel-list">Асортимент</a></li>
      <li><a href="#gallery" class="tel-list">Галерея</a></li>
      <li><a href="#feedbacks" class="tel-list">Відгуки</a></li>
      <li><a href="#support" class="tel-list">Контакти</a></li>
    </ul>
    <ul class="foot-icons">
      <li class="foot-icons-item">
        <a href="https://www.instagram.com/" class="foot-icons-link" target="_blank">
          <svg class="footer-logo-item">
            <use href="/img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="foot-icons-item">
        <a href="https://www.linkedin.com/" class="foot-icons-link" target="_blank">
          <svg class="footer-logo-item">
            <use href="/img/icons.svg#icon-linkedIn"></use>
          </svg>
        </a>
      </li>
      <li class="foot-icons-item">
        <a href="https://www.youtube.com/" class="foot-icons-link" target="_blank">
          <svg class="footer-logo-item">
            <use href="/img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>

    <div class="contacts">
      <address class="contacts-box">
        <ul class="info-ul">
          <li>
            <a href="tel:+380999091122" class="info">+38 (099) 909 11 22</a>
          </li>
          <li>
            <a href="mailto:hello@ecotote.com" class="info"
              >hello@ecotote.com</a
            >
          </li>
        </ul>
      </address>
      <p class="prava">&copy; 2025 EcoTote. Всі права захищені.</p>
    </div>
  </div>
</footer>
