<header class="header">
  <div class="header-container container">
    <div class="header-logo">
      <a href="index.html">
        <svg class="header-logo-icon" width="84" height="36">
          <use href="/src/index.html"></use>
        </svg>
      </a>
    </div>
    <nav class="header-navigation">
      <ul class="header-navigation-list">
        <li class="header-navigation-list-item">
          <a class="header-navigation-list-item-link" href="">Про нас</a>
        </li>
        <li class="header-navigation-list-item">
          <a class="header-navigation-list-item-link" href="">Переваги</a>
        </li>
        <li class="header-navigation-list-item">
          <a class="header-navigation-list-item-link" href="">Асортимент</a>
        </li>
        <li class="header-navigation-list-item">
          <a class="header-navigation-list-item-link" href="">Галерея</a>
        </li>
        <li class="header-navigation-list-item">
          <a class="header-navigation-list-item-link" href="">Відгуки</a>
        </li>
        <li class="header-navigation-list-item">
          <a class="header-navigation-list-item-link" href="">Контакти</a>
        </li>
      </ul>
    </nav>
    <address class="header-contacts">
      <ul class="header-contacts-list">
        <li class="header-contacts-list-item">
          <a href="tel:+38(099)9091122">+38 (099) 909 11 22</a>
        </li>
        <li class="header-contacts-list-item">
          <a href="mailto:hello@ecotote.com">hello@ecotote.com</a>
        </li>
      </ul>
    </address>
    <button data-menu-open type="button" class="mobile-menu-open-btn">
      <svg class="mobile-menu-open-btn-icon" width="32" height="32">
        <use href="#"></use>
      </svg>
    </button>
  </div>
  <div data-menu class="mobile-menu" id="mobile-menu">
    <div class="mobile-menu-header">
      <logo class="header-logo">
        <svg class="mobile-menu-logo-icon" width="84" height="36">
          <use href=""></use>
        </svg>
      </logo>
      <button data-menu-close type="button" class="mobile-menu-close-btn">
        <svg class="mobile-menu-close-btn-icon" width="32" height="32">
          <use href=""></use>
        </svg>
      </button>
    </div>
    <div class="mobile-menu-navigation">
      <ul class="mobile-menu-list">
        <li class="mobile-menu-list-item">
          <a class="mobile-menu-list-item-link" href="">Про нас</a>
        </li>
        <li class="mobile-menu-list-item">
          <a class="mobile-menu-list-item-link" href="">Переваги</a>
        </li>
        <li class="mobile-menu-list-item">
          <a class="mobile-menu-list-item-link" href="">Асортимент</a>
        </li>
        <li class="mobile-menu-list-item">
          <a class="mobile-menu-list-item-link" href="">Галерея</a>
        </li>
        <li class="mobile-menu-list-item">
          <a class="mobile-menu-list-item-link" href="">Відгуки</a>
        </li>
        <li class="mobile-menu-list-item">
          <a class="mobile-menu-list-item-link" href="">Контакти</a>
        </li>
      </ul>
    </div>
    <address class="mobile-menu-contacts">
      <ul class="mobile-menu-contacts-list">
        <li class="mobile-menu-contacts-list-item">
          <a href="tel:+38(099)9091122">+38 (099) 909 11 22</a>
        </li>
        <li class="mobile-menu-contacts-list-item">
          <a href="mailto:hello@ecotote.com">hello@ecotote.com</a>
        </li>
      </ul>
    </address>
  </div>
</header>
