<section class="hero">
    <div class="conteiner">
     <h1 class="section-title" lang="uk">EcoTote — Стиль, що не шкодить планеті.</h1>
       <p class="hero-text" lang="uk">Екологічні сумки для тих, хто дбає про майбутнє. Обирайте стиль та відповідальність разом з EcoTote.</p>
         <button class="hero-button" type="button" lang="uk">Купи зараз</button>
           <img 
             class="hero-image"
             src=""
             alt=""
             width=""
             height=""
           />
    </div>
</section>