* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  color: #030a06;
  background-color: #EBF8ED;
  font-family: "Fira Sans", sans-serif;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}
.section-title{
  font-family: "Comfortaa", sans-serif;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  display: block;
}
@media screen and (min-width: 1440px){
  .section-title{
    font-size: 48px;
  }
}